/* ------------------------------------------
  HEADER STYLES
-------------------------------------------*/
header#main-header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: $color-purple;
  z-index: 1000;
  border-bottom: 2px solid $color-purple-highlight;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2); 
}

/* ------------------------------------------
  Fonts Styles
-------------------------------------------*/
nav#main-nav {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  height: 50px; 
}

.logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 20px; 
}

h1#site-title {
  display: inline-block;
  margin: 0px 0px;
  vertical-align: top; 
}

h1#site-title a {
  font-family: 'anjelika_rosemedium';
  font-size: 43px;
  font-size: 4.3rem;
  color: #fcfcfc; 
}

span.large-logo {
    text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

h1#site-title-large2 {
  width: auto;
}

h1#site-title-large2 {
  font-family: 'anjelika_rosemedium';
  font-size: 100px;
  font-size: 10rem;
  color: #dadada;
  text-shadow: 1px 1px 5px #c0c0c0;
}

h1#site-title-large {
  font-family: 'anjelika_rosemedium';
  font-size: 100px;
  font-size: 10rem;
    display: block;
    padding: 50px;
    color: #cfcfcf;
    position: relative;
}

h1#site-title-large:before, h1#site-title-large:after {
    content: attr(title);
    padding: 50px;
    color: #000;
    position: absolute;
}

h1#site-title-large:before { top: 1px; left: 1px }
h1#site-title-large:after  { top: 2px; left: 2px }



.header-menu-container {
  display: inline-block;
  vertical-align: top; 
}

ul.header-menu {
  margin: 0 0 0 20px;
  padding: 0; 
}

ul.header-menu li {
  display: inline-block;
  margin: 0;
  padding: 0; }


ul.header-menu li a:link, ul.header-menu li a:visited {
  color: #fcfcfc;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  display: block;
  line-height: 50px;
  padding: 0 10px; 
}


ul.header-menu li:hover > a, ul.header-menu li a:active {
  color: $color-grey-highlight;
  background-color: $color-purple-light;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease; 
}


ul.header-menu li:hover > ul {
  display: block;
  margin: 0px;
  padding: 0px; 
}


ul.header-menu .sub-menu, ul.header-menu .post-categories {
  display: none;
  position: absolute;
  z-index: 99999;
  background-color: $color-purple;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 2px 0px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 2px 0px 0px rgba(50, 50, 50, 0.3); 
}


ul.header-menu .sub-menu li, ul.header-menu .post-categories li {
  display: block;
  margin: 0px;
  padding: 0px;
  min-width: 200px;
  width: 100%;
  border-bottom: 1px solid $color-purple-highlight;
  text-align: center; 
}


ul.header-menu .sub-menu li a:link, ul.header-menu .post-categories li a:link {
  line-height: 30px;
  padding: 10px;
  display: block; 
}


ul.header-menu .sub-menu li a:link img {
  width: 30px;
  float: left; 
}


a.link-mag {
  background-image: url("images/mag.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 20px;
  height: 50px;
  text-indent: -9999px;
  display: block; 
}


a.link-mag:hover {
  background-position: bottom; 
}


section#search-panel {
  height: 50px;
  width: 100%;
  background-color: $color-purple;
  background-color: #6b5477;
  border-bottom: solid 2px $color-purple-highlight;
  position: fixed;
  top: 50px;
  z-index: 900;
  display: none;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2); 
}


.search-wrap {
  width: 100%;
  max-width: 550px;
  margin: 0 auto; 
}


input.searchTerm {
  font-size: 20px;
  font-size: 2rem;
  width: 80%;
  max-width: 400px;
  height: 25px;
  border: 0px;
  margin-top: 10px;
  padding: 5px; 
}


input.searchButton {
  background-color: $color-grey-highlight;
  color: $color-purple;
  font-size: 20px;
  font-size: 2rem;
  width: 20%;
  max-width: 100px;
  height: 36px;
  border: 0px;
  margin-top: 0px;
  padding: 5px; 
}


input.searchButton:hover {
  background-color: $color-purple-light;
  color: $color-grey-highlight;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; 
}

/* ------------------------------------------
  Mobile Styles
-------------------------------------------*/
li.menu-item-mobile-header {
  line-height: 40px;
}

@media screen and (min-width: 800px) {

  header#mobile-header {
    display: none; 
  }
  nav#mobile-nav {
    display: none; 
  } 
}

@media screen and (max-width: 799px) {

  header#mobile-header {
    display: block; 
  }

  nav#mobile-nav {
    display: block; 
  }


  header#main-header {
    display: none; 
  }

  header#mobile-header {
    width: 100%;
    height: 40px;
    background-color: $color-purple;
    border-bottom: 1px solid $color-grey-highlight;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2); 
  }

  header#mobile-header img {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px; 
  }

  header#mobile-header h1 {
    display: inline-block;
    margin: 0px;
    padding: 0px 10px;
    vertical-align: top; 
  }

  header#mobile-header h1 a {
    color: #fcfcfc;
    font-family: 'anjelika_rosemedium'; 
  }

  a#mobile-nav-button {
    width: 62px;
    height: 31px;
    float: right;
    background-size: 100% 100%;
    background-image: url("images/menu-button@2x.png");
    display: block;
    text-indent: -9999px;
    margin-right: 20px;
    margin-top: 4px; 
  }

  a.mobile-nav-close {
    background-image: url("images/menu-close@2x.png") !important; 
  }

  nav#mobile-nav {
    width: 100%;
    position: absolute;
    display: none;
    z-index: 1000; 
  }

}


@media all and (max-width: 799px) and (min-width: 401px) {

  .menu-mobile {
    width: 100%;
    height: auto; 
  }

  .menu-mobile ul {
    padding: 0px;
    margin: 0px auto;
    width: 95%;
    display: block;
    list-style-type: none;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2); 
  }

  .menu-mobile ul li {
    color: #fcfcfc;
    font-size: 26px;
    font-size: 2.6rem;
    width: 50%;
    height: 40px;
    list-style-type: none;
    margin-right: 0px;
    display: block;
    zoom: 1;
    float: left;
    text-align: center;
    background-color: #81658f;
    border-bottom: 1px solid $color-purple-light; 
  }

  .menu-mobile ul li.menu-item-mobile-header, .menu-mobile ul li.menu-item-search {
    width: 100%;
  }

  .menu-mobile ul li a {
    background-color: #634e6e;
    border-bottom: 1px solid $color-purple-light;
    display: block;
    text-decoration: none;
    line-height: 40px;
    color: #fcfcfc;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0px;
    width: 100%;
    text-align: center; 
  }


  .menu-mobile ul li a:hover {
    background-color: $color-purple-light; 
  }

  .menu-mobile ul li input {
    font-size: 18px;
    font-size: 1.8rem;
    color: #000;
    width: 80%;
    border: 0px;
    height: 30px;
    margin: 10px auto 0px auto;
    display: block; 
  }

  .menu-mobile ul li button {
    width: 80%;
    border: 0px;
    background-color: $color-purple-light;
    font-size: 20px;
    font-size: 2rem;
    height: 30px; 
  }

  .menu-mobile ul li.menu-item-social img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
  }

  .menu-mobile ul li.menu-item-search {
    height: 90px;
    background-color: #634e6e; 
  } 
}

@media all and (max-width: 400px) {

  .menu-mobile {
    width: 100%;
    height: auto; 
  }

  .menu-mobile ul {
    padding: 0px;
    margin: 0px auto;
    width: 95%;
    display: block;
    list-style-type: none;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 5px 15px 5px rgba(50, 50, 50, 0.2); 
  }

  .menu-mobile ul li {
    color: #fcfcfc;
    font-size: 26px;
    font-size: 2.6rem;
    width: 100%;
    height: 40px;
    list-style-type: none;
    margin-right: 0px;
    display: block;
    zoom: 1;
    float: left;
    text-align: center;
    background-color: #81658f;
    border-bottom: 1px solid $color-purple-light; 
  }

  .menu-mobile ul li a {
    background-color: #634e6e;
    border-bottom: 1px solid $color-purple-light;
    display: block;
    text-decoration: none;
    line-height: 40px;
    color: #fcfcfc;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0px;
    width: 100%;
    text-align: center; 
  }

  .menu-mobile ul li a:hover {
    background-color: $color-purple-light; 
  }

  .menu-mobile ul li input {
    font-size: 18px;
    font-size: 1.8rem;
    color: #000;
    width: 80%;
    border: 0px;
    height: 30px;
    margin: 10px auto 0px auto;
    display: block; 
  }

  .menu-mobile ul li button {
    width: 80%;
    border: 0px;
    background-color: $color-purple-light;
    font-size: 20px;
    font-size: 2rem;
    height: 30px; 
  }

  .menu-mobile ul li.menu-item-social img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
  }

  .menu-mobile ul li.menu-item-search {
    height: 90px;
    background-color: #634e6e; 
  } 
}